.formborder {
	margin-top: 10px;
	border: 2px dotted;
	border-radius: 5px;
	border-color: black;
}

.formtext {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.box {
	background-color: aliceblue;
	color: black;
	padding: 10px;
	font-size: 15px;
	box-sizing: content-box;
	display: block;
}

input[id=text_input] {
	width: 100%;
}

input[id=text_input_disp]{
	width: 25%;
}

input[id=disabled-input]{
	background-color: lightblue;
}